.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 4rem;
  gap: 2rem;
  width: 100%;
}

.titleContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.cardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.button {
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
}