.headerContainer {
  display: flex;
}

.appBar {
  height: 4rem;
}

.toolbar {
  display: flex;
  justify-content: space-between;
}

.menuIcon {
  margin-right: 8px;
  display: none;
}


.title {
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
}

.navButton {
  color: #fff;
}