:root {
  line-height: 1.5;
  font-weight: 400;
  color: #333333;
  background-color: #FFFFFF;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.boxed-content {
  padding-left: calc(50vw - 640px) !important;
  padding-right: calc(50vw - 640px) !important;
}

@media (min-width: 500px) and (max-width: 1023px) {
  .boxed-content {
    padding-left: calc(50vw - 250px) !important;
    padding-right: calc(50vw - 250px) !important;
  }
}